<tr>
    <td>
        <div id="container">
            <div id="elem1" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" data-target="#modalelem1" id="elem1" ondblclick="openModal(this.id)" >
                        <div>
                            <div id="arm1elem1" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem1" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem1" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem1" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem2" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem2" data-target="#modalelem2" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem2" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem2" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem2" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem2" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem3" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem3"  data-target="#modalelem3" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem3" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem3" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem3" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem3" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div id="container">
            <div id="elem4" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem4" data-target="#modalelem4" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem4" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem4" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem4" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem4" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem5" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem5" data-target="#modalelem5" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem5" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem5" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem5" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem5" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem6" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem6" data-target="#modalelem6" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem6" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem6" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem6" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem6" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div id="container">
            <div id="elem7" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem7" data-target="#modalelem7" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem7" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem7" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem7" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem7" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem8" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem8" data-target="#modalelem8" ondblclick="openModal(this.id)">
                       <div>
                            <div id="arm1elem8" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem8" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem8" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem8" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem9" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem9" data-target="#modalelem9" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem9" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem9" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem9" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem9" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>
