<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <title>Kinetic Wall Art</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <style>
        body {
        {#background-image: url({% static 'img/bg.jpg' %});#}
            background-size: cover;
        }
    </style>

</head>
<body>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">Kinetic Wall Art</h1>
        </div>
    </div>
</div>
<br>

<div class="album">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">General settings</h5>
                        <p class="card-text">Here you can manage the settings that affect both images in general.</p>
                        <div class="align-items-center">
                            <form method="post" action="{% url 'clear' %}" class="btn-margin">
                                 {% csrf_token %}
                                <button id="clear" class="btn-blue btn btn-sm">Clear</button>
                            </form>
                            <form method="post" action="{% url 'sync' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="sync" class="btn-blue btn btn-sm">Sync</button>
                            </form>
                            <form method="post" action="{% url 'setpattern' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="setpattern" class="btn-blue btn btn-sm">Set Pattern</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Overview Patterns</h5>
                        <p class="card-text">Allows you to manage and preview the saved patterns.</p>
                        <div class="align-items-center">
                            <form method="post" action="{% url 'previewpattern' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="previewpattern" class="btn-blue btn btn-sm">Preview</button>
                            </form>
                            <form method="post" action="{% url 'deletepattern' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="deletepattern" class="btn-red btn btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-8 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Creator</h5>
                        <p class="card-text">
                            Create or modify patterns for the images.
                            <br>
                            Left-click and hold to set the rotation for each cross. Double-click to change the settings (illumination, color and rotation) .
                        </p>
                        <div class="align-items-center">
                            <form method="post" action="{% url 'savepattern' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="savepattern" class="btn-green btn btn-sm">Save</button>
                            </form>
                            <button id="resetrotation" class="btn-red btn btn-sm">Reset</button>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    <div id="container">
                                        <div id="elem1" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" data-target="#modalelem1" id="elem1" ondblclick="openModal(this.id)" >&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="container">
                                        <div id="elem2" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem2" data-target="#modalelem2" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="container">
                                        <div id="elem3" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem3"  data-target="#modalelem3" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="container">
                                        <div id="elem4" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem4" data-target="#modalelem4" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="container">
                                        <div id="elem5" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem5" data-target="#modalelem5" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="container">
                                        <div id="elem6" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem6" data-target="#modalelem6" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="container">
                                        <div id="elem7" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem7" data-target="#modalelem7" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="container">
                                        <div id="elem8" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem8" data-target="#modalelem8" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div id="container">
                                        <div id="elem9" class="rotFix">
                                            <div class="elem-cell" unselectable="on">
                                                <span class="visual-elem times" unselectable="on" id="elem9" data-target="#modalelem9" ondblclick="openModal(this.id)">&times</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Modal -->
                        {% include "modal.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Rotation of cross
    var kcRotateDial = function (elem) {
        var output = {};

        //Preventing elem to being selected on IE
        if (document.all && !window.opera) elem.setAttribute("unselectable", "on");

        //Public Properties
        output.rad = 0;
        output.deg = 0;
        output.per = 0;
        output.fullRad = 0;
        output.fullDeg = 0;
        output.fullPer = 0;
        output.spin = 0;
        output.clock = false;

        //Private properties
        var drag = false;
        var pos = [];
        var size = [];
        var axis = [];
        var cursor = [];
        var rad = 0;
        var lastRad = 0;
        var lastPer = 0;
        var lastFullRad = 0;
        var maxRad = 6.283185307179586;
        var maxDeg = 360;
        var maxPer = 100;
        var Dx;
        var Dy;
        var dummy;

        //Public Methods
        output.onchange = function () {
        };

        //Private Methods
        function preventDefault(e) {
            //prevent event's default action
            if (window.event) e = window.event;
            if (e.preventDefault) {
                e.preventDefault()
            } else {
                e.returnValue = false
            }
        }

        function stopPropagation(e) {
            //stp event propagation
            if (window.event) e = window.event;
            if (e.stopPropagation) {
                e.stopPropagation()
            } else {
                e.bubbles = false
            }
        }

        function getPos(elem) {
            //get the position [left,top] relative to whole document
            var tmp = elem;
            var left = tmp.offsetLeft;
            var top = tmp.offsetTop;
            while (tmp = tmp.offsetParent) left += tmp.offsetLeft;
            tmp = elem;
            while (tmp = tmp.offsetParent) top += tmp.offsetTop;
            return [left, top];
        }

        function getSize(elem) {
            //return the size [width,height] of the element
            return [elem.offsetWidth, elem.offsetHeight];
        }

        function getAxis(elem) {
            //return the center point [left,top] of the element
            return [getPos(elem)[0] + getSize(elem)[0] / 2, getPos(elem)[1] + getSize(elem)[1] / 2];
        }

        function getCursorPos(e) {
            //return the cursor's position [x,y]
            var cursorPos;
            if (window.event) e = window.event;
            if (e.clientX) cursorPos = [e.clientX, e.clientY];
            if (e.pageX) cursorPos = [e.pageX, e.pageY];
            try {
                if (e.targetTouches[0]) cursorPos = [e.targetTouches[0].pageX, e.targetTouches[0].pageY]
            } catch (err) {
            }
            return cursorPos;
        }

        function getAngle(e) {
            //getting rotation angle by Arc Tangent 2
            var rad;
            pos = getPos(elem);
            size = getSize(elem);
            axis = getAxis(elem);
            cursor = getCursorPos(e);
            try {
                rad = Math.atan2(cursor[1] - axis[1], cursor[0] - axis[0])
            } catch (err) {
            }
            //correct the 90° of difference starting from the Y axis of the element
            rad += maxRad / 4;
            //transform opposite angle negative value, to possitive
            if (rad < 0) rad += maxRad;
            return rad;
        }

        function setDrag(e, bool) {
            //set or unset the drag flag
            if (bool) {
                preventDefault(e);
                stopPropagation(e);
                rad = getAngle(e);
                drag = true;
            } else {
                drag = false;
            }
        }

        function rotate(e) {
            //Rotate the element
            if (drag) {
                //setting control variables
                var cursorRad;
                var relativeRad;
                var rotationRad;
                cursorRad = getAngle(e);
                relativeRad = cursorRad - rad;
                rotationRad = lastRad + relativeRad;
                if (isNaN(rotationRad)) rotationRad = lastRad;
                if (rotationRad < 0) rotationRad = maxRad;
                if (rotationRad > maxRad) rotationRad = 0;

                rad = cursorRad;

                //applying rotation to element
                elem.style.transform = "rotate(" + rotationRad + "rad)";
                elem.style.MozTransform = "rotate(" + rotationRad + "rad)";
                elem.style.WebkitTransform = "rotate(" + rotationRad + "rad)";
                elem.style.OTransform = "rotate(" + rotationRad + "rad)";
                elem.style.MsTransform = "rotate(" + rotationRad + "rad)";

                //rotation Matrix for IExplorer
                var iecos = Math.cos(cursorRad);
                var iesin = Math.sin(cursorRad);
                Dx = -(size[0] / 2) * iecos + (size[1] / 2) * iesin + (size[0] / 2);
                Dy = -(size[0] / 2) * iesin - (size[1] / 2) * iecos + (size[1] / 2);
                elem.style.filter = "progid:DXImageTransform.Microsoft.Matrix(M11 = " + iecos + ", M12 = " + -iesin + ", M21 = " + iesin + ", M22 = " + iecos + ", Dx = " + Dx + ", Dy = " + Dy + ", SizingMethod = auto expand)";
                elem.style.msFilter = "progid:DXImageTransform.Microsoft.Matrix(M11 = " + iecos + ", M12 = " + -iesin + ", M21 = " + iesin + ", M22 = " + iecos + ", Dx = " + Dx + ", Dy = " + Dy + ", SizingMethod = auto expand)";

                //assigning values to public properties
                output.rad = rotationRad;
                output.deg = maxDeg * output.rad / (2 * Math.PI);
                output.per = (output.rad * maxPer) / maxRad;

                if ((lastPer <= 100 && lastPer >= 60) && (output.per >= 0 && output.per <= 30)) output.spin++;
                if ((lastPer <= 30 && lastPer >= 0) && (output.per >= 60 && output.per <= 100)) output.spin--;

                output.fullRad = output.rad + (maxRad * output.spin);
                output.fullDeg = output.deg + (maxDeg * output.spin);
                output.fullPer = output.per + (maxPer * output.spin);

                if (lastFullRad < output.fullRad) output.clock = true;
                if (lastFullRad > output.fullRad) output.clock = false;

                lastRad = rotationRad;
                lastPer = output.per;
                lastFullRad = output.fullRad;
                output.onchange();
            }
        }

        //Listen events
        if (elem.attachEvent) {
            elem.attachEvent('onmousedown', function () {
                setDrag(0, true)
            });
            document.attachEvent('onmouseup', function () {
                setDrag(0, false)
            });
            document.attachEvent('onmousemove', function () {
                rotate(0)
            });
        } else if (elem.addEventListener) {
            elem.addEventListener('mousedown', function (e) {
                setDrag(e, true)
            });
            document.addEventListener('mouseup', function (e) {
                setDrag(e, false)
            });
            document.addEventListener('mousemove', function (e) {
                rotate(e)
            });

            try {
                elem.addEventListener('touchstart', function (e) {
                    setDrag(e, true);
                })
            } catch (err) {
            }
            try {
                document.addEventListener('touchend', function (e) {
                    setDrag(e, false);
                })
            } catch (err) {
            }
            try {
                document.addEventListener('touchmove', function (e) {
                    rotate(e)
                })
            } catch (err) {
            }
        }

        //Fixing black box issue on IE9
        dummy = document.createElement("div");
        dummy.innerHTML = '<!--[if gte IE 9]><br /><![endif]-->';
        if (dummy.getElementsByTagName("br").length == 1) elem.style.filter = "none";
        delete dummy;

        //Output
        return output;
    };

    for (var i = 1; i < 10; i++) {
        var elem = document.getElementById("elem" + i);
        kcRotateDial(elem);
    }
</script>

<script>
    function getCurrentRotation(el){
        var st = window.getComputedStyle(el, null);
        var tm = st.getPropertyValue("-webkit-transform") ||
            st.getPropertyValue("-moz-transform") ||
            st.getPropertyValue("-ms-transform") ||
            st.getPropertyValue("-o-transform") ||
            st.getPropertyValue("transform") ||
            "none";
        if (tm != "none") {
            var values = tm.split('(')[1].split(')')[0].split(',');
            var angle = Math.round(Math.atan2(values[1],values[0]) * (180/Math.PI));
            return (angle < 0 ? angle + 360 : angle);
        }
        return 0;
    }

    function openModal(id) {
        var elem = document.getElementById(id);
        var rotation = getCurrentRotation(elem);

        $('#modal'+ id ).modal('toggle');
        //pass rotation value according to caller
        $('#rotation'+id).val(rotation);
    }

    function saveModal(id) {
        var rotval = $("#rotation"+id).val();

        $("#"+id).css({
            "transform": "rotate("+rotval+"deg)"
        });

        $('#modal'+id).modal('hide');

        //Save values of modal
        var cross = {};

        var radios = document.getElementsByName('lightradioelem1');
        var selected_radio;

        for (var i = 0, length = radios.length; i < length; i++) {
          if (radios[i].checked) {
            selected_radio = radios[i].value;
            break;
          }
        }

        cross.name = id;
        cross.color_cross1 = document.getElementById("picker1"+id).value;
        cross.color_cross2 = document.getElementById("picker2"+id).value;
        cross.color_cross3 = document.getElementById("picker3"+id).value;
        cross.color_cross4 = document.getElementById("picker4"+id).value;
        cross.illumination = selected_radio;
        cross.ill_cross1 = document.getElementById("check1"+id).checked;
        cross.ill_cross2 = document.getElementById("check2"+id).checked;
        cross.ill_cross3 = document.getElementById("check3"+id).checked;
        cross.ill_cross4 = document.getElementById("check4"+id).checked;
        cross.rotation =  document.getElementById("rotation"+id).value;
        cross.image = "1";

        console.log(cross)

        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/website/savecross', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(cross));
    }
    
    //Logic reset pattern button
    $( "#resetrotation" ).click(function() {
        $(".rotFix").css({
            "transform": "rotate(0deg)"
        });
    });
</script>

<script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static '/vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
