<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <title>Kinetic Wall Art</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <style>
        body {
        {#background-image: url({% static 'img/bg.jpg' %});#}
            background-size: cover;
        }
    </style>

</head>
<body>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading">Kinetic Wall Art</h1>
        </div>
    </div>
</div>
<br>

<div class="album">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">General settings</h5>
                        <p class="card-text">Here you can manage the settings that affect both images in general.</p>
                        <div class="align-items-center">
                            <form method="post" action="{% url 'clear' %}" class="btn-margin">
                                 {% csrf_token %}
                                <button id="clear" class="btn-blue btn btn-sm">Clear</button>
                            </form>
                            <form method="post" action="{% url 'sync' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="sync" class="btn-blue btn btn-sm">Sync</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Overview Patterns</h5>
                        <p class="card-text">Allows you to manage and preview the saved patterns.</p>
                        <div class="align-items-center">
                            <form method="post" action="{% url 'setpattern' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="setpattern" class="btn-blue btn btn-sm">Set Pattern</button>
                            </form>
                            <form method="post" action="{% url 'previewpattern' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="previewpattern" class="btn-blue btn btn-sm">Preview</button>
                            </form>
                            <form method="post" action="{% url 'deletepattern' %}" class="btn-margin">
                                 {% csrf_token %}
                                 <button id="deletepattern" class="btn-red btn btn-sm">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-8 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Creator</h5>
                        <p class="card-text">
                            Create or modify patterns for the images.
                            <br>
                            Left-click and hold to set the rotation for each cross. Double-click to change the settings (illumination, color and rotation) .
                        </p>
                        <div class="align-items-center">
                            <button id="savepattern" class="btn-green btn btn-sm" onclick="savePattern()" >Save</button>
                            <button id="resetrotation" class="btn-red btn btn-sm">Reset</button>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                             {%  include "cross.html" %}
                            </tbody>
                        </table>
                        <!-- Modal -->
                        {% include "modal.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/rotateCross.js' %}"></script>
<script src="{% static 'js/btnScript.js' %}"></script>
<script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static '/vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
