<tr>
    <td>
        <div id="container">
            <div id="elem1preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" data-target="#modalelem1preview{{img.pk}}" id="elem1preview{{img.pk}}" ondblclick="openModal(this.id)" >
                        <div>
                            <div id="arm1elem1preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem1preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem1preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem1preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td style="display:none;">
        <div id="container">
            <div id="elem2preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem2preview{{img.pk}}" data-target="#modalelem2preview{{img.pk}}" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem2preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem2preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem2preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem2preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td style="display:none;">
        <div id="container">
            <div id="elem3preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem3preview{{img.pk}}"  data-target="#modalelem3preview{{img.pk}}" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem3preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem3preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem3preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem3preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr>
    <td>
        <div id="container">
            <div id="elem4preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem4preview{{img.pk}}" data-target="#modalelem4preview{{img.pk}}" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem4preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem4preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem4preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem4preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td style="display:none;">
        <div id="container">
            <div id="elem5preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem5preview{{img.pk}}" data-target="#modalelem5preview{{img.pk}}" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem5preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem5preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem5preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem5preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td style="display:none;">
        <div id="container">
            <div id="elem6preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem6preview{{img.pk}}" data-target="#modalelem6preview{{img.pk}}" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem6preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem6preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem6preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem6preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr style="display:none;">
    <td>
        <div id="container">
            <div id="elem7preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem7preview{{img.pk}}" data-target="#modalelem7preview{{img.pk}}" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem7preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem7preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem7preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem7preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem8preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem8preview{{img.pk}}" data-target="#modalelem8preview{{img.pk}}" ondblclick="openModal(this.id)">
                       <div>
                            <div id="arm1elem8preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem8preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem8preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem8preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div id="container">
            <div id="elem9preview{{img.pk}}" class="rotFix" style="transform: rotate(0deg)">
                <div class="elem-cell" unselectable="on">
                    <span class="visual-elem" unselectable="on" id="elem9preview{{img.pk}}" data-target="#modalelem9preview{{img.pk}}" ondblclick="openModal(this.id)">
                        <div>
                            <div id="arm1elem9preview{{img.pk}}" class="cross-vertical">1</div>
                            <div>
                                <div id="arm2elem9preview{{img.pk}}" style="float:left;" class="cross-horizontal">4</div>
                                <div id="arm3elem9preview{{img.pk}}" style="float:right;" class="cross-horizontal">2</div>
                            </div>
                            <div id="arm4elem9preview{{img.pk}}" class="cross-vertical" style="margin-top: 20px;">3</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>
